@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'SUIT variable', sans-serif;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}